{% load bootstrap5 %}

<!doctype html>
<html lang = "en">
<head>
    <meta charset = "utf-8">
    <meta name = "viewport" content = "width=device-width, initial-scale=1
        shrink-to-fit=no">
    <title>
        Learning Log
    </title>

    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>

<body>

    <nav class = "navbar navbar-expand-md navbar-light bg-light mb-4 border">
        <div class = "container-fluid">

        <!-- Navbar Brand -->
        <a class = "navbar-brand" href = "{% url 'learning_logs:index' %}">
            Learning Log
        </a>

        <!-- Navbar Toggler Button for Small Screens -->
        <button class = "navbar-toggler" type = "button" data-bs-toggle = "collapse"
            data-bs-target = "#navbarCollapse" aria-controls = "navbarCollapse"
            aria-expanded = "false" aria-label = "Toggle-navigation">
            <span class = "navbar-toggler-icon"></span>
        </button>

        <!-- Navbar Collapsible Section -->
        <div class = "collapse navbar-collapse" id = "navbarCollapse">

            <!-- Left Side: Topics -->
            {% if user.is_authenticated %}
                <ul class = "navbar-nav me-auto">
                    <li class = "nav-item">
                        <a class = "nav-link" href = "{% url 'learning_logs:topics' %}">
                            Topics
                        </a>
                    </li>
                </ul>

            <!-- Centered Username (Only shown if logged in) -->
                <spann class = "navbar-text mx-auto">
                    {{ user.username }}
                </spann>

            <!-- Right Side: Logout -->
                <ul class = "navbar-nav ms-auto">
                    <li class = "nav-item">
                        <form action = "{% url 'users:logout' %}" method = "post">
                            {% csrf_token %}
                            <button type = "submit" class = "nav-link btn btn-link">
                                Log Out
                            </button>
                        </form>
                    </li>
                </ul>
            {% endif %}
        </div>
    </nav>

    <main role = "main" class = "container">
        <div class = "pb-2 mb-2 border-bottom">
            {% block page_header %}{% endblock page_header %}
        </div>

        <div>
            {% block content %}{% endblock content %}
        </div>
    </main>
</body>

</html>